/* @charset="utf-8"; */

/* Namespace all classes to .stm-foobar so they don’t intersect with page styles */

.stm-toast * {
  box-sizing: border-box;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures
}

.stm-toast {
  position: fixed !important;
  top: .5rem !important;
  right: 1rem !important;
  z-index: 2147483647 !important;
  width: 320px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  background-color: #FEFEFE !important;
  opacity: 0 !important;

  transform: translate3d(0,0,0) !important;

  will-change: opacity !important;
  visibility: hidden !important;

  -webkit-transition: opacity 0.12s linear, transform 0.12s ease-in !important;
          transition: opacity 0.12s linear, transform 0.12s ease-in !important;
}

.stm-toast.stm-show-alert {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate3d(0,0.5rem,0) !important;
}

.stm-toast.stm-dismiss-alert {
  opacity: 0 !important;
  visibility: hidden !important;
  transform: translate3d(0,0,0) !important;
}

.stm-logo {
  height: 24px !important;
  width: 24px !important;
}

.stm-logo a:link,
.stm-logo a:visited {
  opacity: 1 !important;
  height: 24px !important;
  width: 24px !important;
  display: inline-block !important;

  transition: opacity .12s !important;
}

.stm-toast *::before,
.stm-toast *::after {
    display: none !important;
}

.stm-logo a:hover,
.stm-logo a:focus,
.stm-logo a:active {
  opacity: .4 !important;
}

.stm-logo img {
  height: 24px !important;
  width: 24px !important;
}

.stm-nav {
  display: flex !important;
  padding: 1.2rem !important;
}

.stm-article {
  padding: 0 1.2rem 1.2rem 1.2rem !important;
}

.stm-eyebrow {
  text-transform: uppercase !important;
  font-family: Helvetica Neue, Helvetica, sans-serif !important;
  font-size: 12px !important;
  letter-spacing: 0.02rem !important;
  margin-bottom: 0.6rem !important;
  color: #757575 !important;
  line-height: 1.5em;
}

.stm-title {
  font-family: "STM-ZerfallenRegular", serif !important;
  font-size: 22px !important;
  line-height: 1.35 !important;
  color: #292929 !important;
}